parameters:
    level: 8
    paths:
        - ./
    excludePaths:
        - %rootDir%/../../../vendor/*
        - %rootDir%/../../../tests/*
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        - '#Call to an undefined method Zend_View_Interface::partial\(\)\.#'